<!DOCTYPE html>
<html >
<head>
    <Title>HOOK</Title>
</head>
<body>
<center>
    <table cellspacing='1'>
        <thead>
        <tr>
            <th>Room Type</th>
            <th>Bed</th>
            <th>Occupancy</th>
            <th>Rate</th>
        </tr>
        </thead>


        <tbody>

        <tr>
            <td><b>Deluxe</b></td>
            <td>Single</td>
            <td>One</td>
            <td>3000/-</td>
        </tr><!-- Table Row -->

        <tr>
            <td><b>Deluxe </b></td>
            <td>Double</td>
            <td>Two</td>
            <td>5000/-</td>
        </tr><!-- Darker Table Row -->

        <tr>
            <td><b>Luxury</b></td>
            <td>Double</td>
            <td>Two</td>
            <td>7500/-</td>
        </tr>

        <tr>
            <td><b>Semi Suite</b></td>
            <td>Double</td>
            <td>Two</td>
            <td>9500/-</td>
        </tr>

        <tr>
            <td><b>Suite</b></td>
            <td>Double</td>
            <td>Two</td>
            <td>12000/-</td>
        </tr>


        </tbody>
        <!-- Table Body -->

    </table>

</center>

</body>
</html>